body{
    background-color: rgba(240, 238, 238);
}

.landing{
    display: grid;
    grid-auto-flow: column;
}
.landing .searches{
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    padding: 1rem;
    gap: 1rem;
    margin-left: 5rem;
}
.landing .searches .continents{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}
.landing .searches .categories{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 300px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5px;
}
.landing .searches .categories h5{
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    padding: .5rem;
    margin: 0;
    position: sticky;
    top: 0;
}
.landing .searches .categories::-webkit-scrollbar{
    width: 10px;
}
.landing .searches .categories::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 5px;
}
.landing .searches .categories::-webkit-scrollbar-track{
    background-color: rgb(201, 197, 197);
}
.landing .searches .continents h5{
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    padding: .5rem;
    margin: 0;
    position: sticky;
}
.landing .searches .countries{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 300px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5px;
}
.landing .searches .countries::-webkit-scrollbar{
    width: 10px;
    border: 5px;
}
.landing .searches .countries::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 5px;
}
.landing .searches .countries::-webkit-scrollbar-track{
    background-color: rgb(201, 197, 197);
}
.landing .searches .countries h5{
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    padding: .5rem;
    margin: 0;
    position: sticky;
    top: 0;
}

/*webcams*/
.webcams{
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.webcams .webcam{
    border: 1px solid black;
    width: 450px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0;

}
.webcams .webcam img{
    border-radius: 5px 5px 0px 0px;
}
.webcams .webcam .webcamsInfo{
    display: flex;
    padding: 0.5rem;
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    justify-content: space-between;
}
.webcams .webcam .webcamsInfo .views{
    color: green;
}




/*coordinates*/
.coordinated{
    flex: 1;
    position: sticky;
    top: 0;
}



.link{
    text-decoration: none;
    color: #000;
    padding: 0.1rem;
    padding-left: .5rem;
}
.link:hover{
    background-color: grey;
}

.nearby .button{
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    padding: .5px;
    font-size: 17px;
    font-weight: 800;
}
.nearby .button:hover{
    cursor: pointer;
    background-color: transparent;
}

/*header*/
.header_div{
    border-bottom: 1px solid  black;
}
.header{
    padding-left: 5rem;
}
.header:hover{
    cursor: default;
}

.header span{
    border-radius: 3px;
    background-color: rgb(46, 45, 45);
}

/*Location*/
.sharelocation{
    display: flex;
    flex-direction: column;
}
.location-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-btns button{
    border: 1px solid black;
    border-radius: 3px;
    padding: .5rem;
    width: fit-content;
}
.location-btns p{
    font-size: 2rem;
    background:  -webkit-linear-gradient(rgb(59, 58, 58), rgb(87, 83, 83));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.location-btns button:hover{
    cursor: pointer;
}
/*error page*/
.error-page{
    color: inherit;
    background-color: inherit;
}
.error-info{
    font-size: 2rem;
}
.error-info span{
    background:  -webkit-linear-gradient(rgb(59, 58, 58), rgb(87, 83, 83));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}











